body {
    font-family: 'Arial Black', sans-serif; 
    text-align: center;
    background-color: #2c3e50;
    color: white;
    padding-top: 30px;
}

#panel-info {
    font-size: 1.5em;
    margin: 20px 0;
    display: flex;
    justify-content: center;
    gap: 40px;
}

#boton-clic {
    padding: 20px 50px;
    font-size: 2em;
    background-color: #e67e22;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0 5px #d35400;
}

#boton-clic:active {
    box-shadow: 0 2px #d35400;
    transform: translateY(3px);
}

.ganador {
    color: #2ecc71;
    font-size: 2em;
    text-shadow: 2px 2px 0px #000;
}

.perdedor {
    color: #ec1f08;
    font-size: 2em;
    text-shadow: 2px 2px 0px #000;
}